.custom-header {
  background: #7EC0EE; /* Light blue background color */
  color: black; /* Text color */
  padding: 20px 0;
}

.header-title a {
  text-decoration: none; /* Remove underline from the title link */
  color:black; /* Title link color */
}

.header-title a:hover {
  text-decoration: underline; /* Add underline on hover */
}

.header-title {
  font-size: 2rem; /* Adjust the font size as needed */
  font-weight: bold;
  margin-bottom: 10px; /* Add spacing below the title */
}

.header-content {
  display: flex; /* Use flexbox to position elements */
  justify-content: space-between; /* Space elements apart, with the title and navigation links on the left and services on the right */
  align-items: center; /* Vertically center elements */
}

.navigation a {
  color: black; /* Navigation link color */
  text-decoration: none; /* Remove underlines from navigation links */
  margin-right: 20px; /* Add spacing between navigation links */
  transition: color 0.3s; /* Add transition for smooth color change on hover */
}

.navigation a:hover {
  color: red; /* Change the text color on hover to highlight the navigation link */
}